# session
sessions/
# pi
agent/npm/
agent/auth.json
agent/models-store.json
# pi-permission-system
agent/extensions/pi-permission-system/logs/
## mcp
agent/mcp-cache.json
agent/mcp-onboarding.json
## web search
agent/web-search-cache
## skills
agent/skills/*
!agent/skills/my
## other
agent/state/
